section.header-top
    .container
        .header-top__wrapper
            .header-top__logo
                img(src="./img/header-top/logo.svg", alt="Логотип")
            .header-top__content 
                .header-top__answer 
                    img(src="./img/header-top/telegram.svg", alt="")
                button.nav-icon-wrapper
                    span.nav-icon