$black-color: #323232;
$white-color: #ffffff;
$body-bg: #0A0A0A;

// Header-top

$answer-bg: #C9BB9C;

// Header-top

// Nav-icon

$nav-icon-width: 30px;
$nav-icon-width-sm: 21px;
$nav-icon-height: 2px;
$nav-icon-color: #F5F5F5;

// Nav-icon